.Hero {
    width: 10vw;
    border: 1px dashed grey;
    text-align: center;
    padding: 10px;

    background-color: #ffffff77;

    transition: box-shadow 0.15s;

    &:hover {
        box-shadow: 0px 0px 10px grey;
    }
}

.HeroImage {
    width: 100%;
}

.HeroName {
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    color: darkslategrey;
}

.HeroHealth  {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
    color: darkred;
}

.HeroMana {
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    color: darkcyan;
}