.Card {
    width: 20vh;
    position: relative;

    transition: transform 0.15s;

    margin: 0 5px;

    transform: scale(0.6) translateY(-10%);
    cursor: pointer;

    &:hover {
        transform: translateY(-45%);
        z-index: 1;
    }
}

.CardOpponent {
    @extend .Card;

    transform: scale(0.6) translateY(-60%);
}

.CardImage {
    width: 100%;
}

%text-design {
    font-size: 2rem;
    font-weight: 600;
}

.CardTitle {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 600;

    position: absolute;
    text-align: center;
    width: 100%;
    top: 60%;
}

.CardMana {
    @extend %text-design;

    position: absolute;
    top: 38%;
    right: 5%;
}

.CardHealth {
    @extend %text-design;

    position: absolute;
    bottom: 7%;
    right: 13%;
}

.CardAttack {
    @extend %text-design;

    position: absolute;
    bottom: 6%;
    left: 14%;
}