.EndTurnButton {
    width: 10%;
    height: 10%;

    position: absolute;
    right: 0;
    top: 45%;

    transition: 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Active {
    background-color: #ffaa33;
    color: white;

    border: 1px dashed gray;

    box-shadow: 5px 5px 5px grey;

    cursor: pointer;

    &:active {
        box-shadow: 0px 0px 0px grey;
        transform: translateY(5px);
    }
}

.Inactive {
    background-color: darkgrey;
    color: black;

    border: 1px dashed gray;
}

.ButtonText {
    font-size: 1.8rem;
    font-style: italic;

    user-select: none;
}