.Player {
    position: relative;
    height: 100%;
}

.PlayerHandWrapper {
    width: 100%;
    height: 70%;

    background-color: burlywood;
}

.PlayerHero {
    position: absolute;
    bottom: 0;
    left: 0;
}
