.Minion {
    width: 16vh;
    position: relative;

    transition: box-shadow 0.1s;

    &:hover {
        cursor: pointer;

        box-shadow: 0px 0px 10px grey;
    }
}

.MinionImage {
    width: 100%;
    display: block;
}

%text-design {
    font-size: 2rem;
    font-weight: 600;
}

.MinionTitle {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 600;

    position: absolute;
    text-align: center;
    width: 100%;
    top: 60%;
}

.MinionMana {
    @extend %text-design;

    position: absolute;
    top: 36%;
    right: 5%;
}

.MinionHealth {
    @extend %text-design;

    position: absolute;
    bottom: 4%;
    right: 12%;
}

.MinionAttack {
    @extend %text-design;

    position: absolute;
    bottom: 3%;
    left: 13%;
}